.filtersPanel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 150px;
    padding: 10px 0;
}

.priceRange {
    width: 156px;
    margin: 0 4.5%;
}

.menuIcon {
    margin-left: auto;
    transform: rotate(180deg);
}

.mobileMenu {
    display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 640px) {
    .filtersContainer {
        display: none;
    }

    .filtersTitle {
        display: block;
    }

    .filtersPanel {
        justify-content: flex-end;
    }
    .filtersPanel {
        display: none;
    }

    .mobileMenu {
        display: flex;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 50px;
        padding: 10px 0;
        justify-content: flex-end;
    }
}
