button {
    border: none;
}

.productViewContainer {
    display: flex;
    width: 100%;
}

.expandedProductImage {
    flex: 0 0 40%;
}

.expandedProductImage img {
    width: 100%;
}

.productInfo {
    margin: 0 5.6%;
    flex: 1;
}

.title {
font-family: GillSansDisplayMTPro-ExBd;
font-size: 15px;
color: rgba(0,0,0,0.80);
letter-spacing: 2.5px;
}

.brand {
    color: rgba(0,0,0,0.30);
}

.expandedProductImage {
    float: left;
    position: relative;
}

.expandedContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
}

.imageButtonsContainer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.imageButtonsContainer button {
    border: none;
    background: #fff;
    height: 44px;
    width: 44px;
}

.leftArrow{
    opacity: 0.3;
}

.rightArrow{
    transform: scaleX(-1);
    opacity: 0.3;
}

.buttonContainer {
    text-align: center;
    margin:1.5% 3%;
}

.buttonContainer button {
    width: 118px;
    height: 32px;
}

.button_success{
    background-color: #6AD0C8;
}

.button_add {
    color: #fff;
    font-size: 12px;
    background-color: rgba(0,0,0,0.80);
}

.button_add button:disabled,
button[disabled]{
  background-color:  rgba(0,0,0,0.30);
}

.descriptionHeader {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 2.5px;
    line-height: 24px;
    width: 100%;
    display: block;
    margin: 1.5% 0;
}

.descriptors {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.55);
    letter-spacing: 2px;
    width: 100%;
    display: block;
}

.separator {
    
}

.colors {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.colorsHeading {
    color: #000;
    opacity: 0.3;
}

.colorsButtons {
    display: flex;
    justify-content: space-evenly;
}

.similarProducts {
    width: 190px;
    height: 32px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
    float: right;
}

.price {
    float: right;
}

.success {
    background: cadetblue;
}


/* Mobile Styles */
@media only screen and (max-width: 640px) {
    s.expandedProductImage {
        width: 100%;
    }
    .productViewContainer {
        flex-direction: column;
    }
    .buttonContainer button {
        width: 100%;
    }
    .similarProducts {
        width: 100%;
    }
    .imageButtonsContainer {
        justify-content: space-between;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}
