.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}

.colorsFiltersWrapper {
    width: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 60px;
}