.title {
    font-family: GillSansDisplayMTPro-ExBd;
}

.productBrand,
.productTitle,
.productPrice {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 2.5px;
}

.price {
    float: right;
}

.productColors_items {
display: flex;
justify-content: center;
}

.hoverWrapper,
.hoverWrapper * {
    box-sizing: border-box;
}

.hoverWrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: auto;
}

.hoverWrapper img {
    max-width: 100%;
}

.hoverWrapper .productImage {
    display: block;
}

.hoverWrapper .hoverWrapper_text {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hoverWrapper:hover .hoverWrapper_text,
.hoverWrapper.active .hoverWrapper_text {
    opacity: 1;
}

.hoverWrapper .colorsContainer {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hoverWrapper .hvrbox_text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179);
    /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}

.hoverWrapper.active .hvrbox_text_mobile {
    display: block;
}
