.container {
    height: 110px;
    display: flex;
    z-index: 3;
    background: white;
    align-items: center;
}

.sectionsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    float: left;
    align-items: center;
    opacity: 0.3;
}

.sectionsContainer span {
    margin: 0 10px;
}

.utilsContainer {
    display: flex;
    align-items: center;
}

.utilsContainer span {
    margin: 0 10px;
}

.utilsSearch_icon {
    margin: 0 10px;
}

.hamburgerMenu {
    display: none;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .header {
        height: 110px;
    }
}

/* Mobile Styles */
@media only screen and (max-width: 640px) {
    .hamburgerMenu {
        display: block;
        margin-left: auto;
    }
    .mobileCart {
        position: fixed;
        right: 5%;
        bottom: 10%;
        z-index: 3;
    }
}
