@font-face {
    font-family: "GillSansMTPro-Book";
    src: url("../assets/fonts/GillSansMTPro-Book.woff") format("woff"),
        url("../assets/fonts/GillSansMTPro-Book.woff") format("woff2");
}

@font-face {
    font-family: "GillSansMTPro-ExtraBold";
    src: url("../assets/fonts/GillSansMTPro-ExtraBold.woff") format("woff"),
        url("../assets/fonts/GillSansMTPro-ExtraBold.woff") format("woff2");
}

body {
    font-family: "GillSansMTPro-Book";
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

a:-webkit-any-link {
    color: rgba(0,0,0,0.55);
    text-decoration: none;
}

button:focus {
    outline:0
}