.variantContainer {
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    box-shadow: 0 0 1px #ad9b9b;
}

.name{
    margin: 0 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(0,0,0,0.55);
    letter-spacing: 2px;
}