.filterGroup_title {
    margin-left: auto;
    display: none;
    align-items: center;
}


.filterGroup {
    min-height: 50px;
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 100%;
}


.filterGroup::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #fff;
    width: 3px;
  }
  
  .filterGroup::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    width: 3px;
  }

  .filterGroup::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
  }
  
  .filterGroup::-webkit-scrollbar {
    width: 3px;
    background-color: #fff;
  }
  
  .filterGroup::-webkit-scrollbar-thumb {
    border-radius: px;
    background-color: rgb(0, 0, 0, 0.1);
  }

  .filterGroup {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
  }

.checkboxWrapper {
    position: relative;
}
.checkboxWrapper .customCheckbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;
}
.customCheckbox ~ .customCheckbox_span {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 12px;
    height: 12px;
    vertical-align: middle;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.customCheckbox:checked ~ .customCheckbox_span:after {
    content: "■";
    font-size: 1.36rem;
    bottom: 66%;
    font-weight: bold;
    position: relative;
    color: #6ad0c8;
    height: 12px;
    width: 12px;
    opacity: 1;
    right: 1px;
}

.customCheckbox_label{
  margin-left: 5px;
}